DATABASE_URL=postgresql://floin:${POSTGRES_PASSWORD:-floin}@localhost:5432/floin
PG_CONN=host=localhost dbname=floin user=floin password=${POSTGRES_PASSWORD:-floin}
POSTGRES_PASSWORD=change_me_in_production
NEXT_PUBLIC_MAP_TILE_URL=https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png
